<div class="container-fluid py-4">


    <form>
        <div class="form-group">
            <div class="row">
                <div class="col-md-3 align-self-end">
                    <input type="text" [(ngModel)]="skill.name" name="name" class="form-control" id="inputSkillName"
                        placeholder="Enter skill name">
                </div>
                <div class="col-md-12 align-self-end">
                    <div *ngIf="emptyName">
                        <p class="errorMessage">Please enter skill name.</p>
                    </div>
                    <button type="submit" (click)="addSkill()" class=" btn btn-dark btn-outline-dark">Add/Update
                        skill</button>

                </div>
            </div>


        </div>
    </form>

    <table class="table table-striped table-dark">
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th colspan="2">
                Actions
            </th>
        </tr>
        <tr *ngFor="let skill of skills">
            <td>{{skill.id}}</td>
            <td>{{skill.name}}</td>
            <td><button (click)="getSkillById(skill.id)" class="btn btn-outline-warning btn-sm">update</button></td>
            <td><button (click)="deleteSkill(skill.id)" class="btn btn-outline-danger btn-sm">delete</button></td>
        </tr>

    </table>

</div>